<h3>Complete the fields for registration:</h3>
<form action="" method="post">
    <input type="text" class="form-control" name="login" placeholder="Your login"><br>
    <input type="email" class="form-control" name="email" placeholder="Your email"><br>
    <input type="password" class="form-control" name="password" placeholder="Your password"><br>
    <input type="password" class="form-control" name="password_confirmation" placeholder="Confirmation of your password"><br>
    <button class="btn  btn-primary btn-block" name="enter" type="submit">Register</button>
    <button class="btn  btn-default btn-block" type="reset">Clear</button>
</form>